/* .countdown {
  display: flex;
  justify-content: space-around;
  font-family: Arial, sans-serif;
  font-size: 24px;
  color: #fff;
  background-color: #000;
  padding: 20px;
}

.countdown-item {
  text-align: center;
}

.countdown-item span {
  display: block;
  font-size: 14px;
  margin-top: 5px;
} */

/* .countdown {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 21px;
  background-color: black;
  padding: 20px;
  border-radius: 10px;
  color: white;
  width: 98%;
  box-sizing: border-box;
} */

.countdown {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 21px;
  background-color: black;
  padding: 20px;

  color: white;
  width: 98%;
  box-sizing: border-box;
  margin-top: 60px;
  /* Add linear gradient border */
  border: 2px solid transparent;
  border-image: linear-gradient(to right, rgb(22, 192, 238), rgb(230, 5, 136));
  border-image-slice: 1;
  border-radius: 10px;
}

.countdown-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  box-sizing: border-box;
}
.countdown-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.countdown-item span:first-child {
  font-weight: bold;
  font-size: 32px;
}
