@import url("https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap");

.Titlecard h2 {
  font-family: "Tangerine";
  font-size: 50px;
  text-align: center;
  font-weight: 900;
}

.imageBox {
  background: transparent;
  display: flex;
  justify-content: center;
}
.imageBox img {
  height: 100px;
  width: 100px;
}

.addressBox {
  font-family: "Roboto";
  text-align: center;
}
.addressBox h3 {
  text-decoration: underline;
  font-weight: 400;
  font-size: 21px;
}
.buttonBox {
  display: flex;
  justify-content: center;
}
.addressBtn {
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  background: linear-gradient(120deg, #75b8f7, rgb(95, 70, 235));
  color: white;
  padding: 8px 15px;
}

.contactBtn {
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  background: linear-gradient(120deg, #75b8f7, rgb(95, 70, 235));
  color: white;
  margin-top: 10px;
  padding: 8px 15px;
}
